# ---------- Python ----------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ---------- Env ----------
.env

# ---------- Node ----------
node_modules/
build/
dist/

# ---------- Logs ----------
*.log

# ---------- OS ----------
.DS_Store
Thumbs.db

# ---------- IDE ----------
.vscode/
.idea/